*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto;
}

#outputField,
#inputField,
#historyField {
  border: 1px solid #333;
  background-color: #e9eef3;
  color: #111;
  padding: 10px;
  text-align: right;
  font-size: 1.5rem;
  font-family: monospace;
  min-height: 300px;
}

#outputField {
  min-height: 90px;
}

#inputField {
  min-height: 60px;
}

#historyField div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  width: 500px; /* or same as calculator container */
}

#buttons button {
  width: 20%; /* 5 buttons per row */
  padding: 20px 0;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
}

#buttons button:hover {
  background: #ddd;
}

#buttons button:active {
  background: #ccc;
}

/* Seems to be just slightly off.. 
#buttons button:focus-visible {
  outline: 2px solid #4a90e2;
  background: #ddd;
} */

#outputField,
#inputField,
#historyField,
#buttons button {
  border-radius: 4px;
}
