*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto;
}

#outputField,
#inputField {
  border: 1px solid #333;
  padding: 10px;
  text-align: right;
  font-size: 1.5rem;
  min-height: 80px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  width: 500px; /* or same as calculator container */
}

#buttons button {
  width: 20%; /* 5 buttons per row */
  padding: 20px 0;
  font-size: 1.2rem;
}
